<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="com.jun.springframework.test.bean.Student">
        <property name="id" value="1"/>
        <property name="registryTime" value="2023-06-30"/>
    </bean>

    <bean id="converters" class="com.jun.springframework.test.converter.ConvertersFactoryBean"/>

    <bean id="conversionService" class="com.jun.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="converters"/>
    </bean>

</beans>
